<h3 id="abo">
  <strong>About</strong>
</h3>
<hr style="background-color:black;">

<div *ngIf="items|async; else loading;"></div>
<ng-template #loading>
  <div class="progress" style="height:25px;line-height:25px;width:100%;">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0"
      aria-valuemax="100" style="width:100%;height:100%;">
      <span style="font-size: large;">Fetching About</span>
    </div>
  </div>
</ng-template>

<div class="container" style="margin-bottom:30px;">
    <div class="card" style="margin-top: 10px;" *ngFor="let about of items | async">
<div class="card-block">
        <div class="row">
            <div class="col-md-2 col-sm-3 col-3" style="display: flex;flex-direction: column;justify-content: center;">
                <div>
                    <img [src]="about.image"  style="width:100%;height:auto;min-width:50px;" >
                </div>
            </div>
            <div class="col-md-10 col-sm-9 col-9" style="display: flex;flex-direction: column;justify-content: center;">
                <h2 class="card-title"><strong>{{about.name}}</strong></h2>
                <h4>{{about.short_desc}}</h4>
            </div>
        </div>
        <hr>
        <div class="card-text" style="padding-bottom:10px;" [innerHtml]="about.description">
        </div>
        <hr>
        <div *ngIf="about.social_list" class="row">
          <div class="col-md-4 col-sm-3 col-0"></div>
          <div class="col-md-4 col-sm-6 col-12" style="display: flex;  justify-content: space-between;">
            <a *ngFor="let elink of about.social_list" [href]="elink.link" [ngStyle]="{'color':elink.color}" target="_blank" data-toggle="tooltip" [title]="elink.name">
            <i [class]="elink.fa_icon"  aria-hidden="true"></i>
            </a>
          </div>
          <div class="col-md-4 col-sm-3 col-0"></div>

        </div>
              
    </div>
    </div>