<!--navbar fixed-top navbar-light bg-faded-->
<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-primary">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
            <strong>Noy Levi</strong>
        </a>
        <div class="collapse navbar-collapse" id="navbarNav1">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" [ngClass]="{'active' : activeSection==='abo'}">
                    <a class="nav-link" href="#abo">About</a>
                </li>
                <li class="nav-item" [ngClass]="{'active' : activeSection==='exp'}">
                    <a class="nav-link" href="#exp">Professional Experience <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" [ngClass]="{'active' : activeSection==='edu'}">
                    <a class="nav-link" href="#edu">Education</a>
                </li>
                <li class="nav-item" [ngClass]="{'active' : activeSection==='pro'}">
                    <a class="nav-link" href="#pro">Projects</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>