<!--navbar fixed-top navbar-light bg-faded-->
<nav class="navbar fixed-top navbar-toggleable-md navbar-dark bg-primary">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
            <strong>Noy Levi</strong>
        </a>
        <div class="collapse navbar-collapse" id="navbarNav1">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#exp">Professional Experience <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Education</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Projects</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container" style="margin-top:70px;">
    <app-job-list></app-job-list>
</div>

