<div class="card" style="margin-top:15px;">
    <div class="card-body">
        <div class="row">
            <div class="col-xl-1 col-lg-1 col-md-2 col-sm-3 col-3" style="display: flex;flex-direction: column;justify-content: center;">
                <div>
                    <img [src]="jobElement.image_path"  style="width:100%;height:auto;min-width:50px;" >
                </div>
            </div>
            <div class="col-xl-11 col-lg-11 col-md-10 col-sm-9 col-9">
                <h4 class="card-title">{{jobElement | job:'head'}}</h4>
                <h5>{{jobElement | job:'time'}}</h5>
            </div>
        </div>
        <hr>
        <div *ngFor="let desc of jobElement.desc_list" class="card-text" style="padding-bottom:10px;">
            <div style="display:table-row;">
                <div style="display:table-cell;width:10px;">•</div>
                <div style="display:table-cell;">{{desc}}</div>
            </div>
        </div>
    </div>
</div>
