<div class="card" style="margin-top:15px;">
    <div class="card-body">
        <div class="row">
            <div class="col-xl-1 col-lg-1 col-md-2 col-sm-3 col-3" style="display: flex;flex-direction: column;justify-content: center;">
                <div>
                    <img [src]="eduElement.image_path"  style="width:100%;height:auto;min-width:50px;" >
                </div>
            </div>
            <div class="col-xl-11 col-lg-11 col-md-10 col-sm-9 col-9">
                <h4 class="card-title">{{eduElement | edu:'head'}}</h4>
            </div>
        </div>
        <hr>
        <h5>{{eduElement | edu:'desc':eduElement.desc}}</h5>
    </div>
</div>