@media (min-width: 0px) {
 .card-columns{
    column-count: 1;
  }
}
@media (min-width: 767px) {
 .card-columns{
    column-count: 2;
  }
}
@media (min-width: 970px) {
 .card-columns{
    column-count: 3;
  }
}